# Practice Exercises

In [ ]:
# import the pandas, seaborn libaries
import pandas as pd
import seaborn as sns

### Getting Data

In [ ]:
# get the data from 'waterData.csv', store it in a varible called df
# Hint: You can use Google, something like "reading csv files in pandas" 
df = pd.read_csv('waterData.csv')

In [ ]:
# show the first few rows of the datafame
df.head(5)

**What are some of the columns you see? What are the index?**

Temp

### Cleaning Data

In [ ]:
# get the number of distinct data in each col 
df.nunique()

In [ ]:
# remove any rows the have NA
df = df.dropna()

In [ ]:
# use df.query() to keep rows that have 'P' in the `00010_surface_cd` column 
df = df.query("`00010_surface_cd` == 'P'")

In [ ]:
# drop the following columns of data ['Unnamed: 0','00010_surface_cd', '00095_surface_cd', '00300_surface_cd','00400_surface_cd', '63680_surface_cd','90860_surface'] 
columns_to_drop = ['Unnamed: 0', '00010_surface_cd', '00095_surface_cd', '00300_surface_cd', '00400_surface_cd', '63680_surface_cd', '90860_surface']
df = df.drop(columns=columns_to_drop)

In [ ]:
# rename the 'Temp' col to 'Temperature'
df = df.rename(columns={'Temp': 'Temperature'})

In [ ]:
# rename the 'Cond' col to 'Conductivity'
df = df.rename(columns={'Cond': 'Conductivity'})

In [ ]:
# rename the 'DOpct' col to 'DO'
df = df.rename(columns={'DOpct': 'DO'})

In [ ]:
# rename the 'Turb' col to 'Turbidity'
df = df.rename(columns={'Turb': 'Turbidity'})

In [ ]:
# rename the 'Sal' col to 'Salinity'
df = df.rename(columns={'Sal': 'Salinity'})

In [ ]:
# show the first few rows of the datafame again
df.head()

### Preparing the Data

In [ ]:
# set the timestamp column so it's the index now
df.set_index('timestamp', inplace=True)

In [ ]:
# show the first few rows of the datafame again
df.head()

In [ ]:
# convert temp to F
def celsius_to_fahrenheit(row):
    return (row* 9/5) + 32

df['Temperature'] = df['Temperature'].apply(celsius_to_fahrenheit)

In [ ]:
# show the first few rows of the datafame again again
df.head()

# by the way, what's the shortcut to run cells instead of having to press Play

### Data Analysis

In [ ]:
# find the mean (average), median, min, max of the temperature
df['Temperature'].mean()

In [ ]:
# find median temperature
df['Temperature'].median()

In [ ]:
# find min temperature
df['Temperature'].min()

In [ ]:
# find the max of the temperature
df['Temperature'].max()

In [ ]:
# find the pct_change
df.pct_change()

### Data Viz

In [ ]:
df = df[8500:]

In [ ]:
# Create line plot of 'Temperature', try to do it for the other parameters!
sns.lineplot(data=df['Temperature'])

# Add labels and title
plt.ylabel('Temperature')
plt.title('Temperature Line Plot')

# Show plot
plt.show()

### Other stuff as time allows

In [ ]:
"""
from pandas import DataFrame
import dataretrieval.nwis as nwis

def usgs_data_fetch(location: str | None = None, 
                    start_year: int | None = None,
                    start_month: int |  None = None,
                    start_day: int |  None = None,
                    end_year: int | None = None,
                    end_month: int | None = None,
                    end_day: int | None = None) -> DataFrame:

    if any(param is None for param in [location, start_year, start_month, start_day, end_year, end_month, end_day]):
        raise ValueError("All parameters must be provided")

    sites_dict = {'West Point' : '01374019', 'Yonkers' : '01376307', 'Poughkeepsie' : '01372043'}
    site = sites_dict.get(location)

    df = nwis.get_record(sites=site, service='iv', start=f'{start_year}-{start_month}-{start_day}', end=f'{end_year}-{end_month}-{end_day}')
    
    columns_to_keep = [col for col in df.columns if not col.endswith('_cd')]
    df = df.reset_index()
    location_mapping = {
        '01374019' : {
            '00010_hrecos': 'Temp',
            '00095_hrecos': 'Cond',
            '00300_hrecos': 'DOpct',
            '90860_hrecos': 'Sal',
            '00400_hrecos': 'pH',
            '63680_surface': 'Turb',
            'datetime' : 'timestamp'
        },
        '01372043' : {
            '00010_surface' : 'Temp',
            '00095_surface' : 'Cond',
            '00300_surface': 'DOpct',
            '90860_surface, [hrecos (near surface': 'Sal',
            '00400_surface': 'pH',
            '63680_hrecos exo': 'Turb',
            'datetime' : 'timestamp'
        },
        '01376307' : {
            '00010_hrecos': 'Temp',
            '00095_hrecos': 'Cond',
            '00300_hrecos': 'DOpct',
            '90860_hrecos': 'Sal',
            '00400_hrecos': 'pH',
            '63680_surface': 'Turb',
            'datetime' : 'timestamp'
        }, 
    }
    
    # Rename columns using the dictionary
    df_renamed = df.rename(columns=location_mapping.get(site))

    return df_renamed

df = usgs_data_fetch('Poughkeepsie',2024,1,1,2024,4,13)
"""